.vantage {
    @include bg;
    padding: 336px 0 200px;

    &__title {
        margin-bottom: 90px;
        text-align: left;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 500px;
        padding-left: 70px;
        position: relative;
        font-weight: 500;
        color: #1A1F25;
        @include lineClamp;
        -webkit-line-clamp: 6;
        &:nth-child(even) {
            margin-bottom: 60px;
        }
        &::after {
            position: absolute;
            content: '';
            width: 50px;
            height: 50px;
            @include bg;
            left: 0;
            top: 0;
        }

        &--responsiv {
            &::after {
                background-image: url(../images/responsiv.png);
            }
        }
        &--analytics {
            &::after {
                background-image: url(../images/analytics.png);
            }
        }
        &--callback {
            &::after {
                background-image: url(../images/callback.png);
            }
        }
        &--test {
            &::after {
                background-image: url(../images/test.png);
            }
        }
    }
}