
$lite-black: #212733;
$grey: #746f6f;
$grey-dark: #606060;
$white: #fff;
$black: #000;
$grey-lite: #f1f1f1;

// $xl: 1200;
// $lg: 990;
// $md: 720;
// $sm: 540;
// $s: 400;

$Montserrat: 'Montserrat', sans-serif;




// @include lineClamp;
// -webkit-line-clamp: 4;
