<address class="footer__address address">
    <ul class="address__list">
        <li class="address__item">
            <a class="address__link address__link--tel" href="tel:+777777777777">+7 777 7777 77 77</a>
        </li>
        <li class="address__item">
            <a class="address__link address__link--email" href="mailto:email@email.ru">email@email.ru</a>
        </li>
        <li class="address__item">
            <a class="address__link address__link--map" href="#">г. Москва</a>
        </li>
    </ul>
</address>